body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: white;
}
.load-btn{
  padding: 15px 25px;
  font-size: 24px;
  box-shadow: 0 9px #999;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
}

.load-btn:hover {
  background-color: #3e8e41
}

.load-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px)
}

h1 {
  font-weight: bold;
  font-size: 2.5em;
  text-transform: capitalize;
  letter-spacing: 0.1em;
}

a:link,
a:visited {
  color: #6d6e73;
}

a:hover,
a:focus,
a:active {
  color: #444;
}

p {
  margin: 5px;
}

#imgdiv,
#svgdiv {
  display: none;
  border: 2px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

#drop {
  border: 2px dashed #ccc;
  width: 300px;
  height: 50px;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  border-radius: 5px;
}

#drop.hovering {
  border: 2px dashed #333;
}

#run,
#save {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 2px 5px;
  text-decoration: none;
  background-color: #ddd;
}

#run:hover,
#save:hover {
  background-color: #eee;
}

#imageInput {
  display: none;
}

#myCanvas {
  border: 1px solid black;
}

#svgContainer {
  position: relative;
  margin-top: 10px;
}


/*speed slider bar start*/
.rangeslider {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.slider-top {
  margin-top: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;

}

.slider-bar {
  color: #333;
  border:1px solid darkgrey;
  padding:5px 40px;
}
.slider-bar h3{
  text-align: left;
}
.range input{
  width: 200px;
}
.slider-content {
  display: flex;
}

.range input {
  border: none;
}
.rebutton{
  margin-left: 20px;
  margin-top: -10px;
}
/*speed slider bar end*/

/* button animation start*/
.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.redraw-btn{
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.redraw-btn span{
  position: relative;
  z-index: 2;
}

.redraw-btn:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: goldenrod;
  transition: all .35s;
}

.redraw-btn:hover{
  color: red;
}

.redraw-btn:hover:after{
  width: 100%;
}
/* button animation end*/